body{
background-color: #303030;
}

#logo {
width: 297px;
height: 297px;
margin-left: 35%;
margin-top: 25.7%;
}

#p{
margin-top: 5%;
margin-bottom: 105%;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 46px;
line-height: 22px;

text-align: center;

color: #FFFFFF;
}
#year{

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;

text-align: center;

color: #FFFFFF;}