*{
margin: 0;
padding: 0;
outline:none;
}
body{
height: 100%;
display: flex;
flex-direction: column;
background-size: 100%;
background-color: #222222;
}

header{
    height: 150px;
    width: 1280px;
    display: flex;
    flex-direction: row;
}
#qr_photo{
    margin-top: 20px;
    height: 72px;
    width: 72px;
}

#qr_but{
    margin-top: 3%;
    margin-left: 5%;
}

#input
{
width:55%;
height: 100px;
margin-left: 57px;
margin-top: 4%;
background: rgba(255, 255, 255, 0.5);
border-radius: 200px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 44px;
text-align:left ;
padding-left: 24px;
color: #ffffff;}

input{
margin-left: 10%;
}

#main_menu{
display: flex;
width: 1160px;
height: 500px;
margin-left: 5%;
margin-top: 54px;
flex-direction: row;
background: #303030;
border-radius: 10px;
}

#level{
width: 520px;
height: 520px;
}

#main_text{
flex-direction: column;
color: #ffffff;
margin-top: 0%;
}

#main_step{
margin-top: 5%;
font-size: 80px ;
}

#main_photo{
    display: flex;
    width: 1160px;
    height: 500px;
    margin-left: 5%;
    margin-top: 30px;
    flex-direction: row;
}

#photo{
width: 400px;
height: 400px;
margin-left: 10%;
margin-top: 5px;
}